.hover-underline:hover{
    text-decoration: underline !important;
}
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

.logo-text{
    text-transform: uppercase;
    font-family: 'Squada One', cursive;
}
.hover-bold{
    transition: all 0.2s;
}
.hover-bold:hover{
    font-weight: bold !important;
}
@media screen and (max-width: 767px){
    footer{
        display: flex;
        flex-direction: column;
    }
    footer div.links-div{
        margin: 20px 0;
    }
    footer>div{
        margin-left: 100px !important;
    }
}